<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="section-heading">Login</h1>
                <form ng-submit="loginAccount(email, password)">
                  <input class="form-control" type="text" ng-model="email" value="" placeholder="Your email">
                  <input class="form-control" type="password" ng-model="password" value="" placeholder="Your password">
                  <button type="submit" class="btn btn-default">Log In</button>
                </form>
            </div>
</section>
